@{
    ViewBag.Title = "Test Mighty Hearts";
}

<h2>
Doctor Recommendation: @ViewBag.post.DoctorRecommendation <br />
Recommendation: @ViewBag.post.Recommendation <br />
Warning Code: @ViewBag.post.WarningCode <br />
</h2>
